you are going to write the code for a web application that is going to be used to manage a restaurant.

the application should be built using the following technologies:
- react
- tailwind
and oher technologies that are necessary for the application to work.

the application should be built using the following principles:
- clean code
- good architecture
- good practices
- best practices
the style of the code should be the following:
animation should be smooth and natural
the colors should be the following:
as the picture of the restaurant


